<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"href="{{ url_for('static',filename='styles/auth_return.css') }}">
    <link rel="icon" type="image/ico" href="{{ url_for('static',filename='styles/logo_transparent.png') }}" />
    <title>Spotify User Analytics</title>

  </head>

  <body>
    <div class = "header_container">
      <img src="{{ url_for('static',filename='styles/bkg_logo.png') }}" alt="logo" style="width:30%;">
      <div class="head-text"><h1> SPOTIFY USER ANALYTICS </h1></div>
      </div>

      <p id="description"> View your top 50 tracks over different time spans below. The short-term time range is the last 4 weeks, medium-term is the last 6 months and long-term represents the last several years of listening history. </p>
      
      <div class = "flex-container">
        <div class="scroll">
            <table class = "top_tracks "id="top_short">
                <tr><th style="font-family:Oswald;font-size: 1.4vw;">TOP 50 SHORT-TERM TRACKS</th></tr>
            </table>
          </div>
          <div class="scroll">
            <table class = "top_tracks "id="top_med">
                <tr><th style="font-family:Oswald;font-size: 1.4vw;">TOP 50 MEDIUM-TERM TRACKS</th></tr>
            </table>
          </div>
          <div class="scroll">
            <table class = "top_tracks "id="top_long">
                <tr><th style="font-family:Oswald;font-size: 1.4vw;">TOP 50 LONG-TERM TRACKS</th></tr>
            </table>
          </div>
      </div>

    <p id="description"> Use the slide bars to compare how the audio features in your top 50 tracks compare over different time spans. The left side represent short-term time range, middle is medium-term and right side is long-term. </p>


    <div class="aspectwrapper">
      <div class = "content">
        <div id="feat">
          <div class="left" id ="left">
              <h2>ACCOUSTICNESS</h2>
              <input id="ac_slide" type="range" min="1" max="3" step="1" value="1" onchange="update_ac_slider(this.value)">
              <p class="feat_description">The measure that a song uses instruments that produce sound through acoustic means such as the accoustic guitar, piano, violin. </p>
            </div>
          <div class="right" id = "right">
            <canvas id="ac_chart" width="600" height="400"></canvas>
          </div>
        </div>
        <div id="feat">
          <div class="left" id ="left">
              <h2>DANCEABILITY</h2>
              <input id="da_slide" type="range" min="1" max="3" step="1" value="1" onchange="update_da_slider(this.value)">
              <p class="feat_description"> Describes how suitable a track is for dancing based on musical elements such as tempo, rhythm stability and beat strength.</p>
            </div>
          <div class="right" id = "right">
            <canvas id="da_chart" width="600" height="400"></canvas>
          </div>
        <div id="feat">
          <div class="left" id ="left">
              <h2>ENERGY</h2>
              <input id="en_slide" type="range" min="1" max="3" step="1" value="1" onchange="update_en_slider(this.value)">
              <p class="feat_description">Represents the measure of intensity and activity in a track, features contributing to this are range, loudness and general entropy.</p>
            </div>
          <div class="right" id = "right">
            <canvas id="en_chart" width="600" height="400"></canvas>
          </div>
          <div id="feat">
            <div class="left" id ="left">
                <h2>TEMPO</h2>
                <input id="te_slide" type="range" min="1" max="3" step="1" value="1" onchange="update_te_slider(this.value)">
                <p class="feat_description">The speed of a track, derived from the average beat duration. Measured in beats per minute (BPM). </p>
              </div>
            <div class="right" id = "right">
              <canvas id="te_chart" width="600" height="400"></canvas>
            </div>
            <div id="feat">
              <div class="left" id ="left">
                  <h2>VALENCE</h2>
                  <input id="va_slide" type="range" min="1" max="3" step="1" value="1" onchange="update_va_slider(this.value)">
                  <p class="feat_description">Describes the musical positiveness of a track. Tracks with a high valence sound more positive, while tracks with low valence sound more negative. </p>
                </div>
              <div class="right" id = "right">
                <canvas id="va_chart" width="600" height="400"></canvas>
              </div>
        </div>

    <script type="text/javascript">
        //<canvas id="chart" width="600" height="400"></canvas>
      
      var short_top_names = {{ short_top_names|safe }}
      var med_top_names = {{ med_top_names|safe }}
      var long_top_names = {{ long_top_names|safe }}

      table_top_short = document.getElementById("top_short");

      for(var i = 0; i < short_top_names.length; i++) {
               // create a new row
               var newRow = table_top_short.insertRow(table_top_short.length);
                   // create a new cell
                   var cell = newRow.insertCell(short_top_names[i]);
                   // add value to the cell
                   cell.innerHTML = short_top_names[i];
           }
        
        table_top_med= document.getElementById("top_med");

        for(var i = 0; i < med_top_names.length; i++) {
         // create a new row
         var newRow = table_top_med.insertRow(table_top_med.length);
             // create a new cell
             var cell = newRow.insertCell(med_top_names[i]);
             // add value to the cell
             cell.innerHTML = med_top_names[i];
     }

     table_top_long= document.getElementById("top_long");

    for(var i = 0; i < long_top_names.length; i++) {
    // create a new row
    var newRow = table_top_long.insertRow(table_top_long.length);
        // create a new cell
        var cell = newRow.insertCell(long_top_names[i]);
        // add value to the cell
        cell.innerHTML = long_top_names[i];
    }

      // bar chart data
      var short_ac = {{ short_ac|safe }}; 
      var med_ac = {{ med_ac|safe }}; 
      var long_ac = {{ long_ac|safe }};

      var short_da = {{ short_da|safe }}; 
      var med_da = {{ med_da|safe }}; 
      var long_da = {{ long_da|safe }};

      var short_en = {{ short_en|safe }}; 
      var med_en = {{ med_en|safe }}; 
      var long_en = {{ long_en|safe }}; 

      var short_te = {{ short_te|safe }}; 
      var med_te = {{ med_te|safe }}; 
      var long_te = {{ long_te|safe }};

      var short_va = {{ short_va|safe }}; 
      var med_va = {{ med_va|safe }}; 
      var long_va = {{ long_va|safe }};

      //var labels= ["0", "0.2", "0.4", "0.6", "0.8", "1.0"]
      var tempo_labels = ["50", "80", "110", "140", "170", "200"]
  
      //default to ac short term ac graph
      short_ac_data = create_graph_data(short_ac) 
      var short_ac_chart = document.getElementById("ac_chart").getContext("2d"); 
      create_chart(short_ac_chart, short_ac_data)

      //default to da short term ac graph
      short_da_data = create_graph_data(short_da) 
      var short_da_chart = document.getElementById("da_chart").getContext("2d"); 
      create_chart(short_da_chart, short_da_data)

      //default to en short term graph
      short_en_data = create_graph_data(short_en) 
      var short_en_chart = document.getElementById("en_chart").getContext("2d"); 
      create_chart(short_en_chart, short_en_data)      

      //default to te short term graph
      short_te_data = create_graph_data(short_te, tempo_labels) 
      var short_te_chart = document.getElementById("te_chart").getContext("2d"); 
      create_chart(short_te_chart, short_te_data) 

      //default to va short term graph
      short_va_data = create_graph_data(short_va) 
      var short_va_chart = document.getElementById("va_chart").getContext("2d"); 
      create_chart(short_va_chart, short_va_data) 

      function update_ac_slider(slideAmount) {
            if (slideAmount == 1){
              short_ac_data = create_graph_data(short_ac)
              var short_ac_chart = document.getElementById("ac_chart").getContext("2d");
              create_chart(short_ac_chart, short_ac_data)
            }
            else if (slideAmount == 2){
              med_ac_data = create_graph_data(med_ac)
              var med_ac_chart = document.getElementById("ac_chart").getContext("2d");
              create_chart(med_ac_chart, med_ac_data)
            }
            else {
              long_ac_data = create_graph_data(long_ac)
              var long_ac_chart = document.getElementById("ac_chart").getContext("2d");
              create_chart(long_ac_chart, long_ac_data)
            }
        }
      
      function update_da_slider(slideAmount) {
            if (slideAmount == 1){
              short_da_data = create_graph_data(short_da)
              var short_da_chart = document.getElementById("da_chart").getContext("2d");
              create_chart(short_da_chart, short_da_data)
            }
            else if (slideAmount == 2){
              med_da_data = create_graph_data(med_da)
              var med_da_chart = document.getElementById("da_chart").getContext("2d");
              create_chart(med_da_chart, med_da_data)
            }
            else {
              long_da_data = create_graph_data(long_da)
              var long_da_chart = document.getElementById("da_chart").getContext("2d");
              create_chart(long_da_chart, long_da_data)
            }
        }
      
     function update_en_slider(slideAmount) {
            if (slideAmount == 1){
              short_en_data = create_graph_data(short_en)
              var short_en_chart = document.getElementById("en_chart").getContext("2d");
              create_chart(short_en_chart, short_en_data)
            }
            else if (slideAmount == 2) {
              med_en_data = create_graph_data(med_en)
              var med_en_chart = document.getElementById("en_chart").getContext("2d");
              create_chart(med_en_chart, med_en_data)
            }
            else{
              long_en_data = create_graph_data(long_en)
              var long_en_chart = document.getElementById("en_chart").getContext("2d");
              create_chart(long_en_chart, long_en_data)
            }
        }
      
      function update_te_slider(slideAmount) {
          if (slideAmount == 1){
            short_te_data = create_graph_data(short_te, tempo_labels)
            var short_te_chart = document.getElementById("te_chart").getContext("2d");
            create_chart(short_te_chart, short_te_data)
          }
          else if (slideAmount == 2){
            med_te_data = create_graph_data(med_te, tempo_labels)
            var med_te_chart = document.getElementById("te_chart").getContext("2d");
            create_chart(med_te_chart, med_te_data)
          }
          else {
            long_te_data = create_graph_data(long_te, tempo_labels)
            var long_te_chart = document.getElementById("te_chart").getContext("2d");
            create_chart(long_te_chart, long_te_data)
          }
      }
       
      function update_va_slider(slideAmount) {
            if (slideAmount == 1){
              short_va_data = create_graph_data(short_va)
              var short_va_chart = document.getElementById("va_chart").getContext("2d");
              create_chart(short_va_chart, short_va_data)
            }
            else if (slideAmount == 2){
              med_va_data = create_graph_data(med_va)
              var med_va_chart = document.getElementById("va_chart").getContext("2d");
              create_chart(med_va_chart, med_va_data)
            }
            else {
              long_va_data = create_graph_data(long_va)
              var long_va_chart = document.getElementById("va_chart").getContext("2d");
              create_chart(long_va_chart, long_va_data)
            }
        }
      
        function create_graph_data(graph_data, labels= ["0", "0.2", "0.4", "0.6", "0.8", "1.0"]){
        var barData = {  
          //labels : ["0", "0.2", "0.4", "0.6", "0.8", "1.0"],
          labels: labels, 
          datasets : [{
            fillColor: "rgba(76,175,80,0.4)", 
            strokeColor: "rgba(74,112,35,1)",
            barPercentage:1.0,
            data: graph_data
            }
          ]
          }
          return barData
        }
      
      function create_chart(which_chart, which_bar){
        steps = 5
        max = 30
  
        // draw bar chart
        new Chart(which_chart).Bar(which_bar, {
          scaleOverride: true,
          scaleSteps: steps,
          scaleStepWidth: Math.ceil(max / steps),
          scaleStartValue: 0,
          scaleShowVerticalLines: false,
          scaleShowGridLines : true,
          barShowStroke : true,
          scaleShowLabels: true,
          }
        );
      }
          </script>
    </body>
</html>