<!DOCTYPE html>
    <html>
    <div class='container'>
        <h3>Welcome to Spotify analytics</h3>
            <form action="/get_top_tracks" method="post">
                <label for="num_songs">How many top tracks to analyze:</label>
                <input type="text" id="num_songs" name="num_songs"><br><br>
                <input type="submit">
            </form>    
    </div>
    
    </html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">