@import url("https://fonts.googleapis.com/css?family=Oswald|Open+Sans|display=swap");


body {
  font-family: 'Open Sans', sans-serif;
  padding:0px;
  margin-left:10vw;
  margin-right:10vw;
  max-width:100vw;
  overflow-x:hidden;
  scroll-behavior: smooth;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 3.5vw;
  text-align: center;
  letter-spacing: 3px;
}
.header_container{
  position: relative;
  text-align: center;
  color: black;
}

.head-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2{
  font-family: 'Oswald', sans-serif;
  font-size: 2vw;
  letter-spacing: 4px;
  text-shadow: -3px -3px rgba(76,175,80, 0.7);
}
#description{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3vw;
  margin-left: 10%;
  margin-right: 10%;
}
.feat_description{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3vw;
  text-align: center;
  margin-left: -20%;
  margin-right: 10%;
  letter-spacing: normal;
}
.slider{
  color:white;

}
#slide{
  position: relative;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.aspectwrapper {
  width: 100%;
  position: relative;
}
.aspectspacer {
  width: 100%; /* let the enlarged image height push .aspectwrapper's bottom edge */
}

.content{
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#feat{
  margin-bottom: 30px;
  margin-top: 30px;
}

.left{
  width: 20vw;
  float:left;
  padding-left: 8%;
  padding-top: 10%;
  letter-spacing: 1px;
  font-size: 1.25vw;
}
.right{
  width:40vw;
  float:left;
  padding-bottom: 5%;
  padding-left: 8%;

}
